*{
    margin:0;
    padding:0;
}
body{
    background: green;
}
.wrapper{
    width:900px;
    margin:20px auto;
}
h1{
   text-align: center;
    color:black;
}
.main{
    display: flex;
    
}
.formCar{
    margin-left:100px; 
}
input{
    margin:5px 5px; 
}
textarea{
    resize: none;
}
#mainBtn{
    width:100px;
    height:50px;
    background:red; 
    margin-left:200px; 
}
.saveInf{
    display:none;
}